@CHARSET "ISO-8859-1";

.mainrapportincidentdiv {
	witdh: 900px;
	background-color: white;
	margin:auto;
}


.syntheticincidentdiv{
		width:200px;
		float:left;
	
}

.secondaryincidentdiv{
	width:700px;
	float:left;
	heigth:1000px;
	overflow: auto;	
	margin-bottom:20px;
}



.rapportincidentdiv1 {
	width: 700px;
	border: 1 px solid black;
	margin: auto;
/*	background-color : Tomato  ;*/
	

	
}



.rapportincidentdiv2 {
	width: 700px;
	border: 1 px solid black;
	margin: auto;
/*	background-color : Darkorange  ;*/
	
	
}


.rapportincidentdiv3 {
	width: 700px;
	border: 1 px solid black;
	margin: auto;
/*	background-color : MediumSeaGreen ;*/
	

}



.rapportincidentdiv-1 {
	width: 700px;
	border: 1 px solid black;
	margin: 5 px;
	background-color : gray;
}





.incidentshortinfo {
	width: 250px;
	float: left;
	text-align: left;
}


.imageincidentdiv1{
	float: left;
	witdh:80px;
	margin:auto;
	margin-left:20px;
	margin-right:20px;
}


.imageincidentdiv2{
	float: left;
	witdh:80px;
	margin:auto;
	margin-left:20px;
	margin-right:20px;
}


.imageincidentdiv3{
	float: left;
	witdh:80px;
	margin:auto;
	margin-left:20px;
	margin-right:20px;
}


.statutincidenttable {
	float: left;
	width: 300px;
}

.clearer {
	display: block;
	height: 1px;
	clear: both;
}

