@CHARSET "ISO-8859-1";

.mainrapportincidentdiv {
	witdh: 900px;
	background-color: white;
	text-align: center;
}

/*.rapportincidentdivred {*/
/*	width: 900px;*/
/*	border: 1 px solid black;*/
/*	margin: 5 px;*/
/*	background-color : Tomato  ;*/
/*}*/
/**/
/**/
/**/
/*.rapportincidentdivorange {*/
/*	width: 900px;*/
/*	border: 1 px solid black;*/
/*	margin: 5 px;*/
/*	background-color : Darkorange  ;*/
/*}*/
/**/
/**/
/*.rapportincidentdivgreen {*/
/*	width: 900px;*/
/*	border: 1 px solid black;*/
/*	margin: 5 px;*/
/*	background-color : MediumSeaGreen ;*/
/*}*/
/**/
/**/
/*.rapportincidentdivgrey {*/
/*	width: 900px;*/
/*	border: 1 px solid black;*/
/*	margin: 5 px;*/
/*	background-color : gray;*/
/*}*/



.rapportincidentdiv1 {
	width: 900px;
	border: 1 px solid black;
	margin: 5 px;
	background-color : Tomato  ;
}



.rapportincidentdiv2 {
	width: 900px;
	border: 1 px solid black;
	margin: 5 px;
	background-color : Darkorange  ;
}


.rapportincidentdiv3 {
	width: 900px;
	border: 1 px solid black;
	margin: 5 px;
	background-color : MediumSeaGreen ;
}


.rapportincidentdiv-1 {
	width: 900px;
	border: 1 px solid black;
	margin: 5 px;
	background-color : gray;
}




.incidentshortinfo {
	width: 300px;
	float: left;
	text-align: left;
	margin-right: 15px;
	margin-left: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.statutincidenttable {
	float: left;
	width: 400px;
	margin-top: 30px;
}

.clearer {
	display: block;
	height: 1px;
	clear: both;
}