@CHARSET "ISO-8859-1";

.mainrapportincidentdiv {
	witdh: 900px;
	background-color: white;
	margin:auto;
}


.syntheticincidentdiv{
		width:200px;
		float:left;
	
}

.secondaryincidentdiv{
	width:600px;
	float:left;
	heigth:1000px;
	overflow: auto;	
}



.rapportincidentdiv1 {
	width: 600px;
	border: 1 px solid black;
	margin: 5 px;
	background-color : Tomato  ;
}



.rapportincidentdiv2 {
	width: 600px;
	border: 1 px solid black;
	margin: 5 px;
	background-color : Darkorange  ;
}


.rapportincidentdiv3 {
	width: 600px;
	border: 1 px solid black;
	margin: 5 px;
	background-color : MediumSeaGreen ;
}


.rapportincidentdiv-1 {
	width: 600px;
	border: 1 px solid black;
	margin: 5 px;
	background-color : gray;
}




.incidentshortinfo {
	width: 300px;
	float: left;
	text-align: left;
}

.statutincidenttable {
	float: left;
	width: 300px;
}

.clearer {
	display: block;
	height: 1px;
	clear: both;
}

