<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"

	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"

	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">


	<!-- ###################configuration d'Hibernate################### -->


	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource"
		>


		<property name="driverClassName">
			<value>com.mysql.jdbc.Driver</value>
		</property>

		<property name="username">
			<value>anna</value>
		</property>
		<property name="password">
			<value>anna01</value>
		</property>
		<property name="url">
			<value>jdbc:mysql://192.168.10.49:3306/pointpause</value>
		</property>

	</bean>


	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
			</props>
		</property>


		<property name="dataSource">
			<ref bean="dataSource" />
		</property>



		<property name="mappingResources">
			<list>			
				<value>fr/afcepf/ai77/g1/persistence/entity/Bouquet.hbm.xml</value>
				<value>fr/afcepf/ai77/g1/persistence/entity/Client.hbm.xml</value>
				<value>fr/afcepf/ai77/g1/persistence/entity/Contrat.hbm.xml</value>
				<value>fr/afcepf/ai77/g1/persistence/entity/Employe.hbm.xml</value>
  		    	<value>fr/afcepf/ai77/g1/persistence/entity/Incident.hbm.xml</value>
				<value>fr/afcepf/ai77/g1/persistence/entity/Installation.hbm.xml</value>
				<value>fr/afcepf/ai77/g1/persistence/entity/Intervention.hbm.xml</value>
				<value>fr/afcepf/ai77/g1/persistence/entity/Produit.hbm.xml</value>
				<value>fr/afcepf/ai77/g1/persistence/entity/ProduitsIntervention.hbm.xml</value>
				<value>fr/afcepf/ai77/g1/persistence/entity/SiteClient.hbm.xml</value>
				<value>fr/afcepf/ai77/g1/persistence/entity/StatutIncident.hbm.xml</value>
				<value>fr/afcepf/ai77/g1/persistence/entity/TypeProduit.hbm.xml</value>
				<value>fr/afcepf/ai77/g1/persistence/entity/Formule.hbm.xml</value>
			</list>
		</property>

	</bean>



	<!-- ###########################Configuration des beans########################## -->

<!-- 
	<bean id="exampleDAO"
		class="fr.afcepf.ai77.g1.persistence.implementations.ExampleDAOImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
 -->
	<bean id="IDonneesClientDAO"
		class="fr.afcepf.ai77.g1.persistence.implementations.DonneesClientDAOImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	
	
	<bean id="IDonneesContratDAO"
		class="fr.afcepf.ai77.g1.persistence.implementations.DonneesContratDAOImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<bean id="IDonneesChoixContratDAO"
		class="fr.afcepf.ai77.g1.persistence.implementations.DonneesChoixContratDAOImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<bean id="IDonneesEmployeDAO"
		class="fr.afcepf.ai77.g1.persistence.implementations.DonneesEmployeDAOImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<bean id="IDonneesIncidentDAO"
		class="fr.afcepf.ai77.g1.persistence.implementations.DonneesIncidentDAOImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>	
	
	
	<bean id="IDonneesBouquetDAO"
		class="fr.afcepf.ai77.g1.persistence.implementations.DonneesBouquetDAOImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>		
	
	
		
	<bean id="IDonneesInstallationDAO"
		class="fr.afcepf.ai77.g1.persistence.implementations.DonneesInstallationDAOImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	
	<bean id="IDonneesSessionDTO"
		class="fr.afcepf.ai77.g1.metiers.implementations.DonneesSessionDTOImpl">
		
		<property name="donneesClient">
			<ref bean="IDonneesClientDAO" />
		</property>
	</bean>
	
	<bean id="IDonneesContratDTO"
		class="fr.afcepf.ai77.g1.metiers.implementations.DonneesContratDTOImpl">
		
		<property name="donneesContrat">
			<ref bean="IDonneesContratDAO" />
		</property>
	</bean>
	
		<bean id="IDonneesChoixContratDTO"
		class="fr.afcepf.ai77.g1.metiers.implementations.DonneesChoixContratDTOImpl">
		
		<property name="donneesChoixContrat">
			<ref bean="IDonneesChoixContratDAO" />
		</property>
	</bean>
	
	<bean id="IDonneesIncidentDTO"
		class="fr.afcepf.ai77.g1.metiers.implementations.DonneesIncidentDTOImpl">
		
		<property name="donneesIncident">
			<ref bean="IDonneesIncidentDAO" />
		</property>
		<property name="donneesClient">
			<ref bean="IDonneesClientDAO" />
		</property>
	</bean>	
	
		
</beans>